* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

#ourTeamImg1 {
    position: relative;
    z-index: 22;
    width: 100%; 
    height: 600px;
    overflow: hidden; 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    position: absolute;
    z-index: 1;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

#ourTeamGlassy {
    position: absolute;
    z-index: 22;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

#ourTeamGlassyH1 {
    color: azure;
    /* padding: 20px;  */
    font-size: 2rem;
}
